<h1>this is messages</h1>
{{fName}}

<form action="/messages" method="post">
  <input type="text" name="firstName" />
  <input type="text" name="lastName" />
  <input type="text" name="password" />
  <input type="text" name="email" />
  <input type="text" name="messages" />
  <button type="submit"> submit </button>
</form>

<!-- <form action="/messages" method="post">

  <input type="text" name="email" />

  <button type="submit"> submit </button>
</form> -->
